.org-list {
    list-style: none;
    li {
        width: 300px;
        margin: 20px;
        float: left;

        box-shadow: 3px 3px 11px #666665;
        
    }

    img{
        height: 200px;
    }
}