<div class="group-container">
  <div *ngIf="isLoadingResults">
      <mat-progress-bar mode="query" ></mat-progress-bar>
  </div>

  <button mat-fab color="primary" (click)="openEditDialog()" *appCanAccess="['CREATE_GROUP']">新建</button>
  
  <div>
      <ul class="org-list">
          <li *ngFor="let g of groups ; let i = index " >
              <mat-card class="org-card" *ngIf="isAdmin(g)">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title> {{ g.name }} </mat-card-title>
                  <mat-card-subtitle> {{ g.adminInfo.username }} </mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{baseUrl + '/'  + g.picture}}" alt="Photo of a Shiba Inu">
                <mat-card-actions>
                  <button mat-raised-button color="primary" *appCanAccess="['UPDATE_GROUP']" (click)="openEditDialog(g)" >更新</button>
                  <a mat-raised-button color="primary" href="admin/org/{{g.id}}/users" *appCanAccess="['QUERY_USER_INFO']">人员管理</a>
                  <a mat-raised-button color="primary" href="admin/org/{{g.id}}/canteens" *appCanAccess="['QUERY_CANTEEN']">食堂管理</a>
                </mat-card-actions>
              </mat-card>
          </li>
        </ul>
   
  </div>

</div>
