.signin-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;

    .login-card {
        width: 300px;
    }

    .example-full-width {
        width:100%;
    }

    #header {
        font-size: 40px;
        // text-shadow: 2px 0 2px rgba(255, 255, 255, 0.2);
        color: #7B1FA2;
    }

    button{
        float: right;
    }

}