.signin-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .login-card {
        width: 300px;
    }

    .example-full-width {
        width:100%;
    }

}