<div class="main-container">


<app-header  *ngIf="isLoggedIn" class="header-container"></app-header>

<div class="router-container">
  
  <!-- <mat-sidenav #sidenav mode="side" opened class="main-sidenav"  *ngIf="showSidenav"
      [fixedInViewport]="'true'">
      
  </mat-sidenav> -->
  <router-outlet></router-outlet>
  <!-- <mat-sidenav-content > -->
      <!-- <button class="sidenav-btn" mat-icon-button (click)="toggle()" *ngIf="isLoggedIn" > -->
        <!-- <mat-icon>list</mat-icon>
      </button> -->
      
      
  <!-- </mat-sidenav-content> -->
</div>
</div>