<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="main-sidenav"
               [fixedInViewport]="'true'">
               <ul>
                  <li>
                      <h2><a href="">Dashboard</a></h2>
                    </li>
                <li>
                  <h2><a href="users">Users</a></h2>
                </li>
              </ul>
  </mat-sidenav>
  <mat-sidenav-content >
      <p><button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>list</mat-icon>
      </button></p>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
