/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; overflow: hidden;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.btn-pink {
    background-color: #FF4081;
}

.btn-yellow {
    background-color: #FFEB3B;
    color: black;
}

.btn-red {
    background-color: red;
    color: white;
}
